$fuente: 'Overpass', sans-serif;
$fuente-weight-resaltado: 700;
$fuente-grande: 1.3rem;
$fuente-chico: .7rem;
$bg-color-main: #9d5959;
$bg-color-secondary: #000000;
$color-main: #000;
$color-secondary: #fff;