@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
}

.header {
  position: fixed;
  top: 0;
  min-height: 80px;
  background-color: #9d5959;
  z-index: 999;
}

.header .logo img {
  max-width: 50px;
}

.header .botonesHeader {
  border: 1px solid #000;
  margin-right: 5px;
}

.header .botonesHeader a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

.header .botonesHeader afocus {
  background-color: #000;
}

.header .contenedorBotonesHeader {
  margin-left: auto;
}

.header .contenedorBotonesHeader button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media all and (max-width: 1024px) {
  .contenedorBotonesHeader span {
    display: block;
  }
}

.carousel .tamañoCarrousel {
  margin-top: 80px;
}

.carousel .tamañoCarrousel img {
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.carousel svg {
  width: 30px;
  color: #fff;
}

@media all and (max-width: 1025px) {
  .tamañoCarrousel img {
    height: 40vh;
    -o-object-fit: revert;
       object-fit: revert;
  }
}

.titulo {
  padding-top: 20px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.contenido {
  padding-top: 80px;
}

.contenedorProducto {
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.contenedorProducto img {
  width: 250px;
  height: 250px;
  padding-bottom: 5px;
}

.contenedorProducto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contenedorProducto p {
  margin: 0;
}

.contenedorProducto .descripcionProducto {
  font-size: 0.8rem;
}

.mediosPago {
  width: 50px;
  height: 50px;
}

.botonWhatsapp {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  z-index: 999;
}

.reseteoFormulario input:hover, .reseteoFormulario input:focus, .reseteoFormulario textarea:focus, .reseteoFormulario button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #9d5959;
}

.boton {
  background-color: #9d5959;
  border-color: #9d5959;
  color: #000;
  margin-bottom: 3px;
}

.boton:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.footer {
  background-color: #5f4e4e;
}

.footer p {
  color: #000;
  font-size: 0.8rem;
  margin: 0;
}

.informacionFooter {
  margin-top: 3rem;
  padding-top: 1rem;
  background-color: #d07e7e;
}

.informacionFooter p img {
  vertical-align: sub;
}

.informacionFooter .socialMedia {
  height: 35px;
  width: 35px;
  display: inline-block;
  line-height: 35px;
  margin: 0 .3rem 1rem 0;
  text-align: center;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
  color: #000;
}

.informacionFooter .socialMedia:hover {
  background-color: white;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
  color: #fff;
}

.galeriaProductos {
  border: none;
  max-width: 230px;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.galeriaProductos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.galeriaProductos .card-img-top {
  height: 200px;
}

.galeriaProductos .card-title {
  font-size: 1rem;
  font-weight: 600;
}

.galeriaProductos .card-text {
  font-size: 0.8rem;
}

.galeriaProductos .btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: .2rem .5rem;
  font-size: 0.8rem;
}

.galeriaProductos .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #9d5959;
}

.comoComprar .card {
  border: 2px solid #000;
  border-radius: 2rem;
}

.comoComprar .card .card-header {
  background-color: #aaa5a5;
  border: none;
  padding: .3rem;
}

.comoComprar .card .btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.contenedorImagen {
  background-image: url(../imagenes/presentacion.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
}

.presentacion p {
  letter-spacing: .5px;
  word-spacing: .5px;
}

.formulario {
  padding: 20px;
  border: 2px solid #000;
  border-radius: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
}

.formulario .form-control {
  resize: none;
}

.contacto iframe {
  border: 2px solid #000;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  min-height: 40vh;
}
/*# sourceMappingURL=estilos.css.map */